<div class="container">
  <h1>All courses</h1>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category"><%= course.category %></div>
          <div class="card-description">
            <h2><%= course.title %></h2>
            <p><%= course.subtitle %></p>
          </div>
          <img class="card-user avatar" src="https://www.fillmurray.com/80/80">
          <a class="card-link" href="<%= course_path(course) %>" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      var client = algoliasearch(ENV["ALGOLIASEARCH_APPLICATION_ID"], ENV["ALGOLIASEARCH_API_KEY_SEARCH"]);
      var index = client.initIndex('Course');

      var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Course.index_name %>',
      urlSync: true
    });
    });
  </script>
<% end %>
