<div class="container">
  <h1>All courses</h1>

  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-4">
        <div class="newcard">
        <%= link_to course_path(course) do %>
          <div class="photo">
            <%= image_tag course.photo %>
          </div>
          <div class="content">
            <div class="title">
              <h2><%= course.title %></h2>
            </div>
            <div class="subtitle">
              <h4><%= course.subtitle %></h4>
            </div>
            <div class="school">
              <p><%= course.school.name %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      var client = algoliasearch(ENV["ALGOLIASEARCH_APPLICATION_ID"], ENV["ALGOLIASEARCH_API_KEY_SEARCH"]);
      var index = client.initIndex('Course');

      var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Course.index_name %>',
      urlSync: true
    });
    });
  </script>
<% end %>
