<div class="container">
  <div class="row nav">
    <p><%= link_to "< Go back to courses overview", courses_path %></p>
  </div>
  <div class="content">
    <div class="row main-content">
      <h1><%= @course.title %></h1>
      <h2><%= @course.subtitle %></h2>
      <p><%= @course.description %></p>
    </div>
    <div class="row sidebar">
      <h4>Save your spot now!</h4>
      <h5>Capacity</h5>
      <p><%= @course.capacity %></p>
      <h5>Start</h5>
      <p><%= @course.start.strftime("%A, %m.%d.%Y") %></p>
      <h5>End</h5>
      <p><%= @course.end.strftime("%A, %m.%d.%Y") %></p>p
      <%= link_to "Reserve a spot", new_booking_path(:course_id => @course.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>
